*{
    margin: 0;
    padding: 0;
}

.Todolist{
    width: 600px;
    margin: 100px auto;
    border:1px solid #000;
}

ul{
    padding:10px;
}
li{
    list-style: none;
    height: 20px;
    line-height: 20px;
    border-bottom:1px dashed #000;
}