*{
    margin: 0;
    padding: 0;
}
.btn{
    height: 30px;
}
input{
    height: 30px;
}
.App{
    width: 600px;
    margin: 100px auto;
    border: 1px solid #000;
}
ul{
    padding: 5px;
}
li{
    list-style: none;
    height: 40px;
    border-bottom: 1px dashed #000;
    border-left: 2px solid red;
    margin-top: 10px;
    line-height: 40px;
    padding: 5px;
}